.bgimg{


    background-image: url('https://images.unsplash.com/photo-1564067123168-44333e4d4d08?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 440px;

}

.relative {

    position: absolute;
    top: 300px;
    left:80px;
    padding: 20px 0px 0px;


}
input { font-family: 'FontAwesome'; }
/* ///////offers//////////////////*/

.offers{
    padding: 100px 0px 60px;
    height: 700px;
}




/*/////////// convenience ////////////*/
.CONVENIENCEIMG{

    background-image: url('https://s2.rdbuz.com/web/images/home/city_scape_app_download.png');
    background-size: 100% 100%;

    width: 100%;
    height: 440px;



}
.conv_img2{
    height: 500px;
    width: 400px;
}



/*////////////////////////////Responsive////////////////////////////////////////////////////////////////////*/
@media(min-width: 992px ){

}
@media(min-width: 768px)and (max-width: 991px){

}
@media(min-width: 575px)and(max-width: 767px){
    .conv_img2{
        height: 300px;
        width: 220px;
    }
}
@media(min-width: 480px)and(max-width: 574px){

    .conv_img2{
        height: 200px;
        width: 120px;
    }
}
@media(max-width: 479px){


    .headerset h3{
        font-size: 22px;
        font-weight: bold;
    }

    .offers .btn{



    }
    .portfolio {
        height: 3000px;

    }
    .portfolio h3{
        font-size: 25px;
        font-weight: bold;
    }

    .conv_row h2{
        font-weight: bold;
    }
    .conv_img2{
        height: 200px;
        width: 120px;
    }
    .convenience{
        height: 1800px;
    }
}